<div class="text-white fw-bold">Welcome  <%= nameUser %> </div>
<form action="/logout" method="post">
    <input type="submit" class="fs-5 btn btn-warning fw-bold" name="upvote" value="LOGOUT" />
</form>